﻿


#container2 {
    height: 100%;
    max-width: 1500px;
    width: 100%;
    max-height: 1500px;
    min-height: 800px;
    min-width: 600px;
    border-bottom: solid;
    border-bottom-width: 1px;
    background-color: #f7f7f7;
    overflow:hidden;
}

footer {
    height: 1200%;
    width: 100%;
    max-width: 1500px;
    min-width: 300px;
    min-height: 150px;
    max-height: 250px;
    background-color:darkgray;
}

banner {
    max-width:1500px;
    max-height: 50px;
    min-height: 25px;
    width:100%;
    min-width:600px;
    position:absolute;
    
}

header {
    width: 100%;
    height: 1px;
    border: 1px solid black;
    background-color: #f7f7f7;
    overflow:hidden;
}
