﻿

@{
    /**/

    /**/

    /**/

    ViewBag.Title = "startpage";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>

    .carousel-inner img {
        width: 100%;
        margin: auto;
        min-height: 200px;
    }

    #myCarousel {
        margin-top: 50px;
    }

    #headline {
        padding-top: 70px;
        font-size: 60px;
        text-align: center;
        letter-spacing: 1px;
    }

    #headline2 {
        padding-top: 10px;
        font-size: 24px;
        text-align: center;
        color: grey;
    }
    #Banner{


    }
</style>

<h1 id="headline"><b>Welcome to OnlineShop.at</b></h1>
<h2 id="headline2">autorisierter Händler diverser Marken</h2>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/auto.png" alt="Image" class="img-responsive center-block" style="width:500px">
            <div class="carousel-caption">
                <h3><b>bald verfügbar</b></h3>
                <p>Mercedes Benz</p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/MacBookPro.png" alt="Image" class="img-responsive center-block" style="width:200px">
            <div class="carousel-caption">
                <h3>Neuester Artikel</h3>
                <p>MacBook Pro</p>
            </div>
        </div>
    </div>



    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
