﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <header>
            @Html.Partial("Navigation")
        </header>
        <main>
            <div id="container2">

                <content>
                    <!--n dieser Stelle wird immer die View angezeigt-->

                    @RenderBody()
                </content>
            </div>
        </main>

        <footer>
          
        </footer>
    </div>
</body>

</html>
