﻿@using WEBProject.Models
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a>  <img src="~/images/Logo.png" class="img-responsive" style="height:50px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="Level_01">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="Level_01">@Html.ActionLink("Shop", "ShowAllArticle", "shop")</li>
                @*   <li class="Level_01">@Html.ActionLink("Impressum", "Impressum", "Home")</li>*@
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if ((Session["isAdmin"] != null) || (Session["isRegisteredUser"] != null))
            {
                User u = new User();
                u = (User)Session["User"];
                <li class="Level_01">@Html.ActionLink(@u.Firstname + " " + u.Lastname, "Login", "User")</li>
            }
            else
            {
                <li class="Level_01">@Html.ActionLink("Anmelden", "Login", "User")</li>
            }
                @if ((Session["isAdmin"] != null) && (Convert.ToBoolean(Session["isAdmin"]) == true))
             {           
                <li class="Level_01">@Html.ActionLink("Artikel einfügen", "InsertArticle", "Shop")</li>
                <li class="Level_01">@Html.ActionLink("User anzeigen", "AdminUsers", "User")</li>
                <li class="Level_01">@Html.ActionLink("Warenkorb", "Warenkorb", "Shop")</li>
                <li class="Level_01">@Html.ActionLink("Abmelden", "logout", "user")</li>

            }
            else if ((Session["isRegisteredUser"] != null) && (Convert.ToBoolean(Session["isRegisteredUser"]) == true))
            {
                <li class="level_01">@Html.ActionLink("Abmelden", "logout", "user")</li>
            }
            </ul>


        </div>
    </div>
</nav>
<style>
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        position: fixed;
    }
</style>

