﻿@model List<WEBProject.Models.User>
@using WEBProject.Models

 @{
        ViewBag.Title = "AdminUsers";
 }

 <h2>AdminUsers</h2>

    @if (Model != null)
    {
        <table>
            <thead>
                <tr>
                    <th>ID </th>
                    <th>Vorname </th>
                    <th>Nachname </th>
                    <th>Username </th>
                    <th>Geburtstag </th>
                    <th>Geschlecht </th>
                </tr>
            </thead>
            <tbody>
                @foreach (User u in Model)
                {
                    <tr>
                        <td>@u.UserID </td>
                        <td>@u.Firstname </td>
                        <td>@u.Lastname </td>
                        <td>@u.Username </td>
                        <td>@u.Birthdate </td>
                        <td>@u.Gender</td>
                        <td>@Html.ActionLink("Detailsansicht", "UserProfile" + "/" + @u.UserID, "User")  </td>
                        <td>@Html.ActionLink("User löschen", "Delete" + "/" + @u.UserID, "User")</td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="font-size: 80%; text-align: right; font-weight: bold">
                    <td colspan="5">Alle Artikel in diesem Shop</td>
                </tr>
            </tfoot>
        </table>


    }


    else
    {
        <p>
            Kein Eintrag gefunden
        </p>
    }
