﻿@model WEBProject.Models.User
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    <div id="containerLogin">
        <table>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.OldPassword, "Altes Passwort *")</td>
                <td id="inputBox">@Html.PasswordFor(u => u.OldPassword)</td>
                <td>@Html.ValidationMessageFor(u => u.OldPassword)</td>
            </tr>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.NewPassword, "Neues Passwort *")</td>
                <td id="inputBox">@Html.PasswordFor(u => u.NewPassword)</td>
                <td>@Html.ValidationMessageFor(u => u.NewPassword)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="submit" type="submit" value="Absenden" />
                    <input id="reset" type="reset" value="Abbrechen" />

                </td>

            </tr>
        </table>
</div>
 }
        <style>

            #containerLogin {
                height: 500px;
                width: 430px;
                position: absolute;
                margin-top: 175px;
                margin-left: 500px;
                padding-bottom: 13px;
                padding-left: 13px;
                padding-right: 13px;
                padding-top: 13px;
            }

            #writing {
                font-size: 20px;
                padding-left: 10px;
            }

            #inputBox {
                height: 50px;
                width: 170px;
                font-size: 20px;
            }

            #submit {
                height: 30px;
                width: 100px;
                margin-bottom: 5px;
                margin-left: 15px;
                font-size: 15px;
            }

            #reset {
                margin-bottom: 5px;
                margin-right: 15px;
                height: 30px;
                width: 100px;
                font-size: 15px;
            }

            #headline {
                font-size: 30px;
                border-bottom: solid 1px black;
            }
        </style>
