﻿@model WEBProject.Models.Login
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
 <body>

            <div id="containerLogin">
                <b id="headline">Anmelden</b>
                <table>

                    <thead id="headerTable">

                        <tr>
                            <td id="writing" colspan="3" @Html.ValidationSummary()></td>

                        </tr>
                    </thead>

                    <tbody id="tableBody">

                        <tr>
                            <td id="writing">@Html.LabelFor(u => u.UsernameOrEMail, "Email-Adresse:")</td>
                            <td id="inputBox">@Html.TextBoxFor(u => u.UsernameOrEMail)</td>
                            <td>@Html.ValidationMessageFor(u => u.UsernameOrEMail)</td>
                        </tr>
                        <tr>
                            <td id="writing">@Html.LabelFor(u => u.Password, "Passwort:")</td>
                            <td id="inputBox">@Html.PasswordFor(u => u.Password)</td>
                            <td>@Html.ValidationMessageFor(u => u.Password)</td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <input id="submit" type="submit" value="Absenden" />
                                <input id="reset" type="reset" value="Abbrechen" />

                            </td>
                        </tr>
                        <tr>

                            <td><a href="~/User/Register">Sie haben noch keinen Account?</a></td>

                        </tr>

                    </tbody>

                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </body>
}
<style>

    #containerLogin {
        height: 500px;
        width: 430px;
        position: absolute;
        margin-top: 175px;
        margin-left: 500px;
        padding-bottom: 13px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
    }

    #writing {
        font-size: 20px;
        padding-left: 10px;
    }

    #inputBox {
        height: 50px;
        width: 170px;
        font-size: 20px;
    }

    #submit {
        height: 30px;
        width: 100px;
        margin-bottom: 5px;
        margin-left: 15px;
        font-size: 15px;
    }

    #reset {
        margin-bottom: 5px;
        margin-right: 15px;
        height: 30px;
        width: 100px;
        font-size: 15px;
    }

    #headline {
        font-size: 30px;
        border-bottom: solid 1px black;
    }
</style>


