﻿@model WEBProject.Models.User

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
<div id="containerRegister">
    <b id="headline">Registrierungsformular</b>
    <table>
        <thead id="headerTable">
            <tr>
                <td id="writing" colspan="3" @Html.ValidationSummary()></td>
            </tr>
        </thead>

        <tbody id="tableBody">
            <tr>
                <td id="writing">@Html.LabelFor(u => u.Firstname, "Vorname:")</td>
                <td id="inputBox">@Html.TextBoxFor(u => u.Firstname)</td>
                @*einzelne Fehlermeldung direkt beim Element anzeigen*@
                <td>@Html.ValidationMessageFor(u => u.Firstname)</td>
            </tr>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.Lastname, "Nachname:*")</td>
                <td id="inputBox">@Html.TextBoxFor(u => u.Lastname)</td>
                <td>@Html.ValidationMessageFor(u => u.Lastname)</td>
            </tr>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.Username, "Username:*")</td>
                <td id="inputBox">@Html.TextBoxFor(u => u.Username)</td>
                <td>@Html.ValidationMessageFor(u => u.Username)</td>
            </tr>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.EmailAddress, "Email-Addresse:*")</td>
                <td id="inputBox">@Html.TextBoxFor(u => u.EmailAddress)</td>
                <td>@Html.ValidationMessageFor(u => u.EmailAddress)</td>
            </tr>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.OldPassword, "Passwort:*")</td>
                <td id="inputBox">@Html.PasswordFor(u => u.OldPassword)</td>
                <td>@Html.ValidationMessageFor(u => u.OldPassword)</td>
            </tr>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.Birthdate, "Geburtstdatum:")</td>
                <td id="inputBox">@Html.TextBoxFor(u => u.Birthdate, new { type = "date" })</td>
                <td>@Html.ValidationMessageFor(u => u.Birthdate)</td>
            </tr>
            <tr>
                <td id="writing">@Html.LabelFor(u => u.Gender, "Geschlecht:")</td>
                <td id="inputBox">@Html.EnumDropDownListFor(u => u.Gender)</td>
                <td>@Html.ValidationMessageFor(u => u.Gender)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="submit" type="submit" value="Absenden" />
                    <input id="reset" type="reset" value="Abbrechen" />

                </td>

            </tr>

        </tbody>

        <tfoot>
        </tfoot>
    </table>
</div>
}
<style>
    #containerRegister {
        height: 500px;
        width: 430px;
        position: absolute;
        margin-top: 150px;
        margin-left: 475px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;

    }
    #writing{
        font-size: 20px;
        padding-left: 10px;
         }
    #inputBox{
        height: 50px;
        width: 170px;
        font-size: 25px;
    }
    #submit{
        height:40px;
        width: 120px;
        margin-bottom: 5px;
        margin-left: 15px;
        font-size: 18px;
    }
    #reset {
        margin-bottom: 5px;
        margin-right: 15px;
        height: 40px;
        width: 120px;
        font-size: 18px;
    }
    #headline{
        font-size: 40px;
        border-bottom: solid 1px black;
    }

</style>
