﻿@using WEBProject.Models
@{

        ViewBag.Title = "UserProfile";
    }


    @if (Model != null)
    {

        <table id="t1">
            <thead >
                <tr>
                    <td id="header"><b>@Model.Firstname @Model.Lastname </b> </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="data"><b>Vorname: </b> @Model.Firstname</td>
                </tr>
                <tr>
                    <td id="data"><b>Nachname: </b> @Model.Lastname</td>
                </tr>
                <tr>
                    <td id="data"><b>Username: </b>  @Model.Username</td>
                </tr>
                <tr>
                    <td id="data"><b>Geburtsdatum: </b> @Model.Birthdate.ToLongDateString()</td>
                </tr>
                <tr>
                    <td id="data"><b>Email-Addresse: </b> @Model.EmailAddress</td>
                </tr>
                <tr>
                    <td id="data"><b>Geschlecht: </b> @Model.Gender</td>
                </tr>
                <tr>
                    <td id="changedata">@Html.ActionLink("Daten ändern", "ChangeUserData", "User", new { id = Model.UserID }, null)</td>
                    <td id="changedata">@Html.ActionLink("Passwort ändern", "ChangePassword", "User", new { id = Model.UserID }, null)</td>
                </tr>

            </tbody>
        </table>
    }
    else
    {
        <p>
            Kein Eintrag gefunden
        </p>
    }
<style>
    #t1{
        margin-top: 100px;
        margin-left: 80px;
    }
    #data{
        border-bottom: solid black 1px;
        padding-top: 30px;
        font-size: 25px;
    }
    #header
    {
        font-size:50px;
    }
    #changedata
    {
        padding-top:10px;
        font-size: larger;
    }

</style>