﻿@model WEBProject.Models.Article
@{
    ViewBag.Title = "DetailShop";
}

@if (Model != null)
{
    <div id="ContainerDetailShop">
        <table>
            <tr>
                <td id="headingDS"> @Model.ArticleName<br /></td>
                @*   <td><a href="#"><img id="warenkorbAdd" src="~/images/warenkorbHinzufügen.jpg" alt="Bild" height="80px" /></a></td>*@
                <td>@Html.ActionLink("warenkorb", "Warenkorb" + "/" + @Model.ArticleID, "Shop")</td>
            </tr>
            <tr>
                <td id="writingDS"><b>ID: </b>  @Model.ArticleID<br /></td>
            </tr>
            <tr>
                <td id="writingDS"><b>Preis: </b> @Model.Price<br /></td>
            </tr>
            <tr>
                <td id="writingDS"><b>Marke: </b> @Model.Brand<br /></td>
            </tr>
            @{
                if (Model.ReleaseDate != null)
                {
                    <tr>
                        <td id="writingDS">
                            <b>Erscheinungsdatum: </b> @(((DateTime)Model.ReleaseDate).ToLongDateString())
                        </td>
                    </tr>
                }
                else
                {
                        <tr>
                            <td>kein Datum</td>
                        </tr>
                }
            }
            @{
                if (Model.Category != null)
                {
            <tr>
                <td id="writingDS">
                    <b>Kategorie: </b> @(Model.Category)
                </td>
            </tr>
                }
                else
                {
            <tr>
                <td>
                    Kein Eintrag gefunden
                </td>
            </tr>
                }

            }
        </table>
    </div>
}
    <div id="imageDS">
        @{
        string s = "/images/" + @Model.ArticleName + ".png";
        <img id="articleimg" src="@s"height="470">
        }
    </div>

<div>



</div>

                
    <style>
        #warenkorbAdd{
            padding-bottom:10px;

        }
        #ContainerDetailShop {
            height: 550px;
            width: 430px;
            position: absolute;
            margin-top: 120px;
            margin-left: 100px;
            padding-bottom: 9px;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 13px;
            float: left;

        }

        #headingDS {
            font-size:70px;
        }
        #writingDS{
            font-size:25px;
            padding-top:60px;
            border-bottom:1px solid black;

        }
        #imageDS{
            height:550px;
            width:550px;
            position:absolute;
            margin-top:100px;
            margin-right:150px;
            float:right;
            margin-left:600px;
            border: 2px solid black;
            overflow:hidden;
            
        }
        #articleimg{
        padding-top:40px;
            position:center;
            padding-right:1px;

        }
    </style>