﻿@model WEBProject.Models.Article

@{
    ViewBag.Title = "InsertArticle";
}

@using (Html.BeginForm())
{
    if (Convert.ToBoolean(Session["isAdmin"]) == true)
    {
        <div id="containerInsertArticle">
            <b id="headline">Insert Article</b>
            <table>

                <thead id="headerTable">

                    <tr>
                        <td id="writing" colspan="3" @Html.ValidationSummary()></td>

                    </tr>
                </thead>

                <tbody id="tableBody">
                    <tr>
                        <td id="writing">@Html.LabelFor(a => a.ArticleName, "ArticleName")</td>
                        <td id="inputBox">@Html.TextBoxFor(a => a.ArticleName)</td>
                        @*einzelne Fehlermeldung direkt beim Element anzeigen*@
                        <td>@Html.ValidationMessageFor(a => a.ArticleName)</td>
                    </tr>
                    <tr>
                        <td id="writing">@Html.LabelFor(a => a.Price, "Price")</td>
                        <td id="inputBox">@Html.TextBoxFor(a => a.Price)</td>
                        <td>@Html.ValidationMessageFor(a => a.Price)</td>
                    </tr>
                    <tr>
                        <td id="writing">@Html.LabelFor(a => a.Brand, "Brand")</td>
                        <td id="inputBox">@Html.TextBoxFor(a => a.Brand)</td>
                        <td>@Html.ValidationMessageFor(a => a.Brand)</td>
                    </tr>
                    <tr>
                        <td id="writing">@Html.LabelFor(a => a.ReleaseDate, "Release Date")</td>
                        <td id="inputBox">@Html.TextBoxFor(a => a.ReleaseDate, new { type = "date" })</td>
                        <td>@Html.ValidationMessageFor(a => a.ReleaseDate)</td>
                    </tr>
                    <tr>
                        <td id="writing">@Html.LabelFor(a => a.Category, "Category")</td>
                        <td id="inputBox">@Html.EnumDropDownListFor(a => a.Category)</td>
                        <td>@Html.ValidationMessageFor(a => a.Category)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="submit" type="submit" value="Absenden" />
                            <input id="reset" type="reset" value="Abbrechen" />

                        </td>

                    </tr>

                </tbody>

                <tfoot>
                </tfoot>
            </table>
        </div>
    }
    else{
        <p id="p1">Sie haben keine Berechtigung!</p>
    }
}
    <style>
    #containerInsertArticle {
        height: 500px;
        width: 430px;
        position: absolute;
        margin-top: 175px;
        margin-left: 500px;
        padding-bottom: 13px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
    }

    #writing {
        font-size: larger;
    }

    #inputBox {
        height: 50px;
        width: 170px;
        font-size: larger;
    }

    #submit {
        margin-bottom: 5px;
        margin-left: 15px;
    }

    #reset {
        margin-bottom: 5px;
        margin-right: 15px;
    }

    #headline {
        font-size: larger;
        text-decoration: underline;
    }
    #p1{
        margin-top: 100px;
        margin-left: 20px;
    }
</style>
