﻿

@{
    ViewBag.Title = "Shop";
}



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Item 1</div>
                <div class="panel-body"><img src="~/#" class="img-responsive center-block" style="height:200px" alt="Image"></div>
                <div class="panel-footer"><button onclick="window.location.href = '';"><b> Angebot</b></button></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Item 2</div>
                <div id ="image" class="panel-body"><img src="~/images/uhr.jpg" class="img-responsive center-block" style="height:200px" alt="Image"></div>
                <div class="panel-footer"><button onclick="window.location.href = '';"><b> Angebot</b></button></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Item 3</div>
                <div class="panel-body"><img src="~/images/auto.jpg" class="img-responsive center-block" style="height:200px" alt="Image"></div>
                <div class="panel-footer"><button onclick="window.location.href = '';"><b> Angebot</b></button></div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Item 4</div>
                <div class="panel-body"><img src="~/images/auto.jpg" class="img-responsive center-block" style="height:200px" alt="Image"></div>
                <div class="panel-footer"><button onclick="window.location.href = '';"><b> Angebot</b></button></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Item 5</div>
                <div class="panel-body"><img src="~/images/auto.jpg" class="img-responsive center-block" style="height:200px" alt="Image"></div>
                <div class="panel-footer"><button onclick="window.location.href = '';"><b> Angebot</b></button></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Item 6</div>
                <div class="panel-body"><img src="~/images/auto.jpg" class="img-responsive center-block" style="height:200px" alt="Image"></div>
                <div class="panel-footer"><button onclick="window.location.href = '';"><b> Angebot</b></button></div>
            </div>
        </div>
    </div>
</div><br><br>


<style>
    #container {
        margin-top: 10%;
    }

    #row {
        margin-bottom: 50px;
    }
    #image{
        margin: 0 auto;
    }

    </style>
