﻿@model List<WEBProject.Models.Article>
@using WEBProject.Models

@{
    ViewBag.Title = "ShowAllArticle";
}

<h2>ShowAllArticle</h2>

@if (Model != null)
{

            foreach (Article a in Model)
            {
<div id="OneArticle">
    @{
        string s = "/images/" + @a.ArticleName + ".png";
        <img id="SAAImage" src="@s">
    }
    <p id="SAAName"><b>@a.ArticleName</b></p>
    <p id="SAAPrice">@(a.Price) €</p> 
    <p id="SAALink">@Html.ActionLink("Detailsansicht", "DetailShop" + "/" + @a.ArticleID, "Shop")</p>
    <p></p>
</div>
            }
}
else
{
    <p>
        Kein Eintrag gefunden
    </p>
}


<style>
    #OneArticle{
        padding-top:5px;
        height:200px;
        width:100%;
        border-bottom: 1px solid black;
        overflow-y:hidden;
    }
    #SAAName{
    font-size:50px;
    text-align:center;
    }
    #SAAPrice{
        text-align:center;
        font-size:30px;
    }
    #SAALink {
        text-align: center;
        font-size: 20px;
    }
    #SAAImage{
        padding-bottom:1px;
        display:flex;
        margin:auto;
        float:left;
        margin-right:50px;
        width:195px;
    }

</style>