﻿@model List<WEBProject.Models.Article>
    @using WEBProject.Models
    @{
        ViewBag.Title = "Warenkorb";
    }
    <br /><br /><br /><br />
    @if (Model != null)
    {

        foreach (Article a in Model)
        {
            <div id="OneArticle">

                <p id="SAAName"><b>@a.ArticleName</b></p>
                <p id="SAAPrice">@(a.Price) €</p>
                <p></p>
            </div>
        }
    }
    else
    {
        <p>
            Kein Eintrag gefunden
        </p>
    }
